Repository DIVYASREE345/javascript-quiz, pull requests merged in 2020-12, with the labels that each got.

#1 Start
  DOCS.md
  index.html
  public/style.css
  src/data.js
  src/handlers/start-button.js
  src/init/index.js
  src/listeners/start-button.js
Labels: good first issue

#7 update questions in the data folder
  src/data.js
Labels: documentation

#9 questions update file
  src/data.js
Labels: data.js

#12 Question
  DOCS.md
  planning/development-strategy.md
  src/data.js
  src/handlers/get-newQuestion.js
  src/listeners/get-newQuestion.js
Labels: Handelers, Listeners, data.js
